@model Binus.SampleWebAPI.Web.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Assignment";
}
<link rel="stylesheet" href="~/Sources/CustomCSS/index.css">
<link rel="stylesheet" href="~/Sources/CustomCSS/assignment.css">

<script src="~/Sources/PageJS/index.js"></script>

<div class="layout-header p-3">
    <div class="text-white">
        <h1>
            <i>Current Assignment</i>
            <label class="switch">
                <input type="checkbox" name="c1" onclick="myFunction()">
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
</div>
<div id="myDIV" class="layout-content p-4 text-justify">
    @*@foreach(var Data in @Model.CurrentAssignment) {*@
        <div class="assignment-box">
            <div class="float-left">
                <h1>Title@*@Model.CurrentAssignment.Title*@</h1>
            </div>
            <div class="tombol-upload float-right">
                <div class="image-upload">
                    <label for="file-input" style="cursor: pointer;">
                        <img src="~/Sources/icons/download.svg" />
                    </label>
                    <input class="file-download-soal" type="file" />
                </div>
                <div class="image-upload">
                    <label for="file-input" style="cursor: pointer;">
                        <img src="~/Sources/icons/upload.svg" />
                    </label>
                    <input class="file-upload-jawaban" type="file" />
                </div>
                <div class="image-upload">
                    <label for="file-input" style="cursor: pointer;">
                        <img src="~/Sources/icons/archive.svg" />
                    </label>
                    <input class="file-download-jawaban" type="file" />
                </div>
            </div>
        </div>
    @*}*@
</div>

<div class="layout-header p-3">
    <div class="text-white">
        <h1>
            <i>Past Assignment</i>
            <label class="switch">
                <input type="checkbox" name="c1" onclick="myFunction2()">
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
</div>
<div id="myDIV2" class="layout-content p-4 text-justify">
    @*@foreach(var Data in @Model.PastAssignment) {*@
    <div class="assignment-box">
        <div class="float-left">
            <h1>Title@*@Model.PastAssignment.Title*@</h1>
        </div>
        <div class="tombol-upload float-right">
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/download.svg" />
                </label>
                <input class="file-download-soal" type="file" />
            </div>
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/archive.svg" />
                </label>
                <input class="file-download-jawaban" type="file" />
            </div>
        </div>
    </div>
    @*}*@
</div>
