@model Binus.SampleWebAPI.Web.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Assignment";
}
@*css yg ini hrus berurutan*@
<link rel="stylesheet" href="~/Sources/CustomCSS/index.css">
<link rel="stylesheet" href="~/Sources/CustomCSS/assignment.css">

<script src="~/Sources/PageJS/Backend/assignment.js"></script>
<script src="~/Sources/PageJS/index.js"></script>



@* VIEWS *@

<div class="layout-header p-3">
    <div class="text-white">
        <h1>
            <i>Current Assignment</i>
            <label class="switch">
                <input type="checkbox" name="c1" onclick="myFunction()">
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
</div>
<div id="myDIV" class="layout-content p-4 text-justify">
    <div class="assignment-box">
        <div class="float-left">
            <h1 style="cursor: pointer;"><a data-toggle="modal" data-target="#exampleModal">Title</a></h1>
        </div>
        <div>

        </div>
        <div class="tombol-upload float-right">
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/download.svg" />
                </label>
                <input class="file-download-soal" type="file" />
            </div>
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/upload.svg" />
                </label>
                <input class="file-upload-jawaban" type="file" />
            </div>
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/archive.svg" />
                </label>
                <input class="file-download-jawaban" type="file" />
            </div>
        </div>
    </div>
</div>
<div class="layout-header p-3">
    <div class="text-white">
        <h1>
            <i>Past Assignment</i>
            <label class="switch">
                <input type="checkbox" name="c1" onclick="myFunction2()">
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
</div>
<div id="myDIV2" class="layout-content p-4 text-justify">
    <div class="assignment-box">
        <div class="float-left">
            <h1 style="cursor: pointer;"><a data-toggle="modal" data-target="#exampleModal">Title</a></h1>
        </div>
        <div class="tombol-upload float-right">
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/download.svg" />
                </label>
                <input class="file-download-soal" type="file" />
            </div>
            <div class="image-upload">
                <label for="file-input" style="cursor: pointer;">
                    <img src="~/Sources/icons/archive.svg" />
                </label>
                <input class="file-download-jawaban" type="file" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assignment title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: left;">
                Assignment Detail
            </div>
            <div class="modal-body" style="text-align: left;">
                Due date
            </div>
        </div>
    </div>
</div>