@model Binus.SampleWebAPI.Model.AppModel.UserModel
@{
    Layout = null;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web API Sample</title>

    <link href="@Address/Sources/CSS/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @using (Ajax.BeginForm("NewUser", "Register", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "LoadResult(data)",
            OnBegin = "Loader"
        }, new { id = "form1", @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Sign In</h2>
            <input type="text" class="form-control" name="Name" placeholder="Name" required="">
            <input type="text" class="form-control" name="UserName" placeholder="Username" required="">
            <input type="password" class="form-control" name="Password" placeholder="Password" required="">
            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password" required="">
            <span id="divMessage" style="color:red"></span>
            <button class="btn btn-lg btn-danger btn-block" type="submit" id="btnLoginDB" name="DB">Register</button>
            <br />
        }
    </div>

    <script src="@Address/Sources/Scripts/jquery-3.1.1.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/PageJS/Register/register.js"</script>
</body>


</html>

