<div class="layout-header bg-info p-3">
    <h1 class="text-white"><i>About Us & Contact</i></h1>
</div>

<div class="layout-content p-3 text-center h-100">
    <div class="p-3 mb-3">
        <h1>Vision & Mission</h1>
        <p>   A World Class center for innovate ICT enabling the vigorous pursuit of outstanding services by:</p>
        <p>   >Deliver innovative ICT to enable knowledge institution</p>
        <p>   >Provide excellent solutions to enhance customer value through leading innovative ICT</p>
        <p>   >Build learning and research culture that encourages and rewards innovation</p>
        <p>   >Enable the global community to develop outstanding talents</p>
        <p>   >Develop local values to achieve global recognition</p>
    </div>
    <div class="text-center p-3">
        <h1>Contact</h1>
        <p>   IT DIRECTORATE BINA NUSANTARA</p>
        <p>   Syahdan Campus, 2nd florr H Building</p>
        <p>   K.H Syahdan No.9, Kemanggisan - Palmerah</p>
        <p>   Jakarta 11480</p>
        <p>   Phone: (021) 534 5830 ext. 2300</p>
    </div>
</div>