@model Binus.SampleWebAPI.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Announcement";
}
<div class="layout-header bg-info p-3">
    <h1 class="text-white"><i>@*@Model.AdminThread.title*@</i></h1>
</div>

<div class="layout-content p-5 bg-secondary text-justify h-100">
    <div class="p-3 b-3 bg-success">
        @*@Model.AdminThread.content*@
    </div>
</div>