@model Binus.SampleWebAPI.Model.AppModel.BookModel
@{
    ViewBag.Title = "Detail";
}

<h2>Book Detail</h2>
<h4>@Html.DisplayTextFor(x => x.BookName)</h4>
<h4>@Html.DisplayTextFor(x => x.BookDesc)</h4>
<h4>@Html.DisplayTextFor(x => x.BookQty)</h4>

