@model Binus.SampleWebAPI.Model.AppModel.BookModel
@{
    ViewBag.Title = "NewBook";
}

<h2>NewBook</h2>
@*model binding, untuk bind inputan biar lgsg jadi model*@


@*ngasih tau yg didalam using punya kurung kurawal, lifetimenya cuma sampe situ doang*@
@using (Html.BeginForm("Insert", "Home", FormMethod.Post))
{
    <div>
        <p>Book Name</p>
        @Html.TextBoxFor(x => x.BookName)
    </div>
    <div>
        <p>Book Desc</p>
        @Html.TextBoxFor(x => x.BookDesc)
    </div>
    <div>
        <p>Book Quantity</p>
        @Html.TextBoxFor(x => x.BookQty)
    </div>
    <input class="btn btn-info" type="submit" />
}