@model Binus.SampleWebAPI.Model.AppModel.BookModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (Html.BeginForm("UpdateBook", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.BookID)
    <div>
        <p>Book Name</p>
        @Html.TextBoxFor(x => x.BookName)
    </div>
    <div>
        <p>Book Desc</p>
        @Html.TextBoxFor(x => x.BookDesc)
    </div>
    <div>
        <p>Book Quantity</p>
        @Html.TextBoxFor(x => x.BookQty)
    </div>
    <input class="btn btn-info" type="submit" />
}
