@model Binus.SampleWebAPI.Web.ViewModels.UserViewModel
@{
    var Request = HttpContext.Current.Request;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
    ViewBag.Title = "User";
}



<link rel="stylesheet" href="~/Sources/CustomCSS/user.css" />
<div class="layout-header p-3">
    <h1 class="text-white"><i>Verify User</i></h1>
</div>

<div class="layout-content p-5 text-justify h-100 d-flex flex-column">
    <table id="t">
        <thead class="thead-dark">
            <tr>
                <th style="width: 30px;">#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }

            @foreach (var Data in Model.ListUser) {
                <tr>
                    <td>@i</td>
                    <td class="w">@Data.Name</td>
                    <td class="w">@Data.Email</td>
                    <td class="w">
                        @*@Html.ActionLink("Verify", "VerifyUser", Data)*@
                        <a href="@Url.Action("VerifyUser", "User",Data)"><img height="50px" src="@Address/Sources/src/checkmark-flat.png" alt="VerifyUser"></a>

                    </td>
                    @{ i += 1; }
                </tr>
            }
            
        </tbody>
    </table>
</div>