@model Binus.SampleWebAPI.Web.ViewModels.UserViewModel
@{
    var Request = HttpContext.Current.Request;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
    ViewBag.Title = "User";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Role</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Data in Model.ListUser)
        {
            <tr>
                <td>@Data.Name</td>
                <td>@Data.Email</td>
                <td>@Data.Role</td>
                <td>
                    @Html.ActionLink("Verify", "VerifyUser", Data)
                </td>
            </tr>
        }
    </tbody>
</table>