@model Binus.SampleWebAPI.Web.ViewModels.ScheduleViewModel
@{
    ViewBag.Title = "Schedule";
}
<link rel="stylesheet" href="~/Sources/CustomCSS/schedule.css" />

<div class="layout-header p-3">
    <h1 class="text-white"><i>@ViewBag.Title</i></h1>
</div>

<div class="layout-content p-5 text-justify h-100">
    @foreach (var Data in @Model.ListSchedule)
    {
        <div class="schedule-box">
            <h3>Meeting 1@*@Data.Topic*@</h3>
            <h5>--------------------------------</h5>
            <h5>Date : 00/00/00@*@Data.StartTime*@</h5>
            <h5>Time : 00:00 - 00:00@*@Data.StartTime - @Data.EndTime*@</h5>
            <h5>Room : 306@*@Data.Place*@</h5>
            <h5>Notes : semangat :)@*@Data.Description*@</h5>
        </div>
    }
</div>