@{
    Layout = null;
    var Request = HttpContext.Current.Request;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruitee Signin Page</title>

    <link href="@Address/Sources/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="@Address/Sources/CustomCSS/signin.css" rel="stylesheet" />
    <link rel="shortcut icon" href="@Address/Sources/src/perusahaan.jpg" type="image/x-icon">
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="@Address/Sources/Scripts/jquery-3.1.1.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/Scripts/respond.js"></script>
    <script src="@Address/Sources/PageJS/Login/login.js"></script>

</head>
<body>
    <div class="split left">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="top: 25vh">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner mx-5 w-auto rounded" style="background-color: #005691">
                <div class="carousel-item active p-5 position-relative">
                    <div class="carousel-caption d-none d-md-block position-absolute" style="left: 10%; width: 50%; top: 20%">
                        <h2>Be There or Be Square</h2>
                        <p>To see the place and time of any activity, go to schedule section. See you there, partner!</p>
                    </div>
                    <img src="@Address/Sources/src/calendar-icon.png" class="d-block" style="max-width: 240px; margin-right: 10%; float: right;"
                         alt="calendar">
                </div>
                <div class="carousel-item p-5 position-relative">
                    <div class="carousel-caption d-none d-md-block position-absolute" style="left: 10%; width: 50%; top: 20%">
                        <h2>Get Your Latest Assignment!!</h2>
                        <p>Go to Assignment Section and see what's task to be done. Don't forget to submit before due date!</p>
                    </div>
                    <img src="@Address/Sources/src/assignment-icon.png" class="d-block" style="max-width: 240px; margin-right: 10%; float: right;"
                         alt="assignment">
                </div>
                <div class="carousel-item p-5 position-relative">
                    <div class="carousel-caption d-none d-md-block position-absolute" style="left: 10%; width: 50%; top: 20%">
                        <h2>Any Question?</h2>
                        <p>
                            If you have any question or two about assignment, schedule or else, ask fellow colleague and admin on QnA
                            section.
                        </p>
                    </div>
                    <img src="@Address/Sources/src/question-icon.png" class="d-block" style="max-width: 240px; margin-right: 10%; float: right;"
                         alt="question">
                </div>
            </div>
            <a class="carousel-control-prev text-dark" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="split right">
        <div class="centered">
            <div class="above">
                @using (Ajax.BeginForm(
                    actionName: "Auth",
                    controllerName: "Login",
                    routeValues: null,
                    ajaxOptions: new AjaxOptions {
                        HttpMethod = "POST",
                        OnSuccess = "LoadResultLogin(data)",

                    },
                    htmlAttributes: new { id = "form1", @class = "form-signin" })) {
                    @Html.AntiForgeryToken()

                    <img src="@Address/Sources/icons/box-arrow-right.svg" alt="">
                    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control mb-2" name="Username" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control mb-2" name="Password" placeholder="Password" required>
                    <span id="divMessage" style="color:red"></span>
                    <button class="btn btn-lg btn-primary btn-block" id="btnLoginDB" type="submit">Sign in</button>
                }
            </div>
            <div class="below">
                <div class="dropdown-divider mt-5"></div>
                <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#register">Register</button>
                <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#forgot">Forgot Password</button>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("RegisterAccount", "Register", null, new AjaxOptions {
        HttpMethod = "POST",
        OnSuccess = "LoadResultReg(data)"
    }, new { id = "form-register", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        <div id="register" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Register User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row Data">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputNameReg" class="sr-only">Name</label>
                                    <input type="text" id="inputNameReg" class="form-control mb-2" name="Name" placeholder="Name" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmailReg" class="sr-only">Email address</label>
                                    <input type="email" id="inputEmailReg" class="form-control mb-2" name="Email" placeholder="Email address" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordReg" class="sr-only">Password</label>
                                    <input type="password" id="inputPasswordReg" class="form-control mb-2" name="Password" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputConfirmPasswordReg" class="sr-only">Confirm Password</label>
                                    <input type="password" id="inputConfirmPasswordReg" class="form-control mb-2" name="ConfirmPassword" placeholder="Confirm Password" required>
                                </div>
                                <span class="text-danger" style="display: none" id="error-confirm-password-reg">Please correctly confirm the password <br></span>
                                <span id="regMessage" style="color:red"></span>
                                <button class="btn btn-lg btn-primary btn-block" id="btnLoginDBReg" type="submit">Send request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div id="forgot" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Forgot Password</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row Data">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="input-email-forgot" class="sr-only">Email address</label>
                                    <input type="email" id="input-email-forgot" class="form-control mb-2" name="Email" placeholder="Email Address" required>
                                </div>
                                <span id="forgot-message" style="color:red"></span>
                                <button class="btn btn-lg btn-primary btn-block" id="btn-forgot" type="submit">Send request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>Address='@Address'</script>

</body>
</html>
