.thread-title {
    background-color: #fafafa;
    padding: 35px;
}

.reply-box {
    margin-bottom: 15px;
}

.reply-thread {
    background-color: #fafafa;
    padding: 35px;
}

    .reply-thread img {
        width: 100px;
    }

    .reply-thread div {
        margin: 1.5em;
    }

.reply-left p {
    width: 120px;
    word-wrap: break-word;
    margin-top: 10px;
    margin-right: 10px;
}

.reply-right {
    width: 50em;
    vertical-align: top;
}
